body {
  margin: 0;
  padding: 0;
}

body > .container {
  position: static;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  margin-bottom: 0;
  max-width: 90.0rem;
}

.content {
  min-height: 600px;
}

.navigation .container {
  max-width: 90.0rem;
}

.navigation-title .img {
  margin-right: 4px;
}

.logo-svgpath {
  fill: #4c7cc9;
}


dtable img {
  width: 65px;
}

.clear {
  clear: both;
}

.s5{  height: 5px;  }
.s10{ height: 10px; }
.s20{ height: 20px; }
.s30{ height: 30px; }
.s40{ height: 40px; }
.s50{ height: 50px; }
.s60{ height: 60px; }
.s70{ height: 70px; }
.s80{ height: 80px; }


/* tables */

dtable{
  display:table;
  width: 100%;
  margin-bottom: 2.5rem;
}
ddtr, user-row, org-row, uni-row{
  display:table-row;
}
dtd, dth {
  display:table-cell;
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
  vertical-align: middle;
}
dth:first-child, dtd:first-child {
  padding-left: 0;
}
dth:last-child, dtd:last-child {
  padding-right: 0;
}

.border {
  padding: 1.5%;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.icon {
  font-size: 80px
}

.overlay {
  display: none;
  position: absolute;
  top: 15px;
  left: 25%;
}

.relative {
  position: relative;
}

.overlay_cont {
  position: relative;
}
.overlay_cont, .overlay_cont img, .overlay_cont .overlay {
  cursor: pointer;
}
.overlay_cont:hover img {
  opacity: 0.9;
}
.overlay_cont:hover .overlay {
  display: block;
}

.white {
  color: white;
}

.normal {
  font-weight: normal;
}

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
}

.centered {
  text-align: center;
  float: none;
}

user-face, org-face {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

user-face img, org-face img, .avatar {
  border-radius: 4px;
}

user-face img, org-face img {
  width: 110px;
}

input.big-text {
  font-size: 120%;
  height: auto;
  color: #666;
}




/* Spinner */
.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  float: left;
  /* extra */
  margin-left: 30px;
  visibility: hidden;
}
.spinner > div {
  background-color: #1f8dd6;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.message {
  margin-top: 11px;
  font-weight: bold;
}

user-new form#user_form .avatar, org-new form#org_form .avatar {
  border: 1px solid #EEE;
  width: 150px;
  height: 150px;
}
user-new form#user_form .icon.overlay, org-new form#org_form .icon.overlay {
  display: block;
  color: #EEE
}

user-new form#user_form .overlay_cont:hover .icon.overlay, org-new form#org_form .overlay_cont:hover .icon.overlay {
  color: #777
}

.gray, .grey {
  color: #AAA
}

.hidden {
  display: none;
}

#notif {
  position: absolute;
  right: 5px;
  top: 32px;
  background: #f4f5f6;
  padding: 5px 16px 5px 10px;
  border: 1px dashed #AAA;
  z-index: 3;
  cursor: pointer;
}

#notif:hover {
  border: 1px solid #AAA;
}

#notif:hover span.close {
  font-weight: bold;
  font-size: 110%;
}

#notif span.close {
  position: absolute;
  top: -3px;
  right: 3px;
}

#notif span.close {
  position: absolute;
  top: -5px;
}

.icon-mini{
  font-size: 2em;
  color: #777;
}

section h1 {
  font-size: 2em;
}

section h2 {
  font-size: 1.6em;
}

.button-danger {
  background: #C33;
  border: 1px solid #E00;
}
.button-danger:hover {
  background: #933;
  border: 1px solid #E00;
}

approvables section section {
  border: 1px solid #CCC;
  padding: 3%;
}
