!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title Blockedin
    %meta{content: "width=device-width", name: "viewport"}/
    %link{charset: "utf-8", href: "css/vendor/milligram.css", rel: "stylesheet"}/
    %link{charset: "utf-8", href: "css/vendor/milligram-nav.css", rel: "stylesheet"}/
    %link{charset: "utf-8", href: "bower_components/hint.css/hint.min.css", rel: "stylesheet"}/
    %link{charset: "utf-8", href: "css/style.css", rel: "stylesheet"}/

  %body
    .container
      %main-nav
      .content
        %route
      %ab-footer

    :ruby
      dependencies = %w(
        riot-router
        zepto
        zepto-deferred
        zepto-callbacks
        pnglib
        identicon
        underscore
        underscore.string
        md5
      ) # TODO: remove md5 in prod

      components = %w(
        main_nav
        home
        form_cont
        ab_table
        table_users
        table_orgs
        table_unis
        sample
        ab_footer
        user
        org
        user_edit
        org_edit
        not_found
      )

    %script{src: "bower_components/riot/riot.js"}
    - dependencies.map do |name|
      %script{src: "js/vendor/#{name}.js"}
    - components.map do |name|
      %script{src: "comp/#{name}.js"}
    %script{src: "js/bapp-api/bapi.js"}
    %script{src: "js/bapp-api/model.js"}
    %script{src: "js/bapp-api/models.js"}
    %script{src: "js/bapp-api/env.js"}
    %script{src: "js/mkv-riot.js"}
    %script{src: "js/store.js"}
    %script{src: "js/routes.js"}
    %script{src: "js/main.js"}
