%approvables
  %section
    %h1 Positions to Approve

    
    %section
      %h1
        %a{ href: "/#/users/1" } Stephanie Curry
      %h2 Social Media Expert
      %p 20/1/2015 to 22/4/2015
      %div
        %a.button{ href: "" } Approve
        %a.button.button-danger{ href: "" } Reject
