%approvables
  %section
    %h1 Positions to Approve


    %section
      %h1
        %a{ href: "/#/users/11" } Stephanie Curry
      %h2 Social Media Expert
      %p 20/1/2015 to 22/7/2015
      %div
        %a.button{ href: "/#/approvables" } Approve
        %a.button.button-danger{ href: "/#/approvables" } Reject
