%home
  .row
    .column
      %img.hero.full{ src: "/img/home_hero.jpg" }
      -# .over-text
      -#   Verified professionals
      -#   %span at your fingertips
  -# http://www.istockphoto.com/photo/japanese-businessman-walking-and-talking-on-the-city-gm468999270-62152076?st=57fa649

  -# .row
  -#   .column
  -#     %h2 Carayra
  .box
    .row
      .column
        %p
          Carayra is the right place to find your next position. If you are a Company looking to hire a new talent, that's the right place.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies.
          %br
          ctetur adipiscing elit. In consequat mauris et  elit. In consequat mauris et ante pretium ultricies.....
          %br
  .s30
  .box
    .row
      .column
        %h5 For Companies:
        %h3 Find a Professional
    .row
      .column
        %user-face{ each: "{ users }" }
    .s20
  .s30

  .box
    .row
      .column
        %h5 For You:
        %h3 Find a Position
    .row
      .column
        %org-face{ each: "{ orgs }" }

  :coffee
    BR.prepare opts, @, =>
      @users = StoreData.users[0..7]
    BR.prepare opts, @, =>
      @orgs = StoreData.orgs[0..7]

%user-face
  %a{:href => "#/users/{ id }", class: "hint--bottom hint--rounded", :"data-hint" => "{ jobTitle }"}
    %img{:src => "{ avatar }" }/

%org-face
  %a{:href => "#/orgs/{ id }", class: "hint--bottom hint--rounded", :"data-hint" => "{ name }"}
    %img{:src => "{ avatar }" }/
