%notif
  #notif{ class: "{ klass }", onclick: "{ hide }" }
    %span { label }
    %span.close x

  :coffee
    @label = ""
    @klass = "hidden"

    @hide = ->
      @klass = "hidden"

    @store = opts.store
    @store.on 'update', (data) =>
      @evt = StoreData.evt
      evtPresent = _(["tx_latest", "tx_pending"]).include @evt
      @klass = if evtPresent then "" else "hidden"
      @label = "Confirmed!" if @evt == "tx_latest"
      @label = "Pending..." if @evt == "tx_pending"

      @update() # updates the ui
