%org
  %h2 { org.name }
  .row
    .column
      %img.avatar{ src: "{ org.avatarLg }" }
    .column
    %p.gray
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis. In ultricies ipsum in sapien rutrum, eu ultricies mauris interdum.

  .s20

  .row
    .column
      %p
        %strong Industry:
        { org.industry }
  .row
    .column
      %p
        %strong Location:
        { org.location }

  .row
    .column
      %p.gray
        %strong Extra:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis. In ultricies ipsum in sapien rutrum, eu ultricies mauris interdum.

  .row
    .column.right
      %p
        organization type
        %br
        { org.orgType }
      %p
        publicKey
        %br
        %span{ class: "hint--bottom-left hint--rounded", :"data-hint" => "{ org.publicKey }"} { org.publicKeyShort }


  :coffeescript
    present = (org) ->
      if org
        org.publicKeyShort = "\#{org.publicKey[0..8]}...\#{org.publicKey[-6..-1]}"
      org

    entry_id = BR.getEntryId()
    BR.loadFromCollection "org", entry_id, this, present
