%org
  %h2 { org.name }

  .row
    .column
      %img.avatar{ src: "{ org.avatarLg }" }
    .column
      %p.gray
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis. In ultricies ipsum in sapien rutrum, eu ultricies mauris interdum.

  .s20

  .row
    .column
      %p
        %strong Industry:
        { org.industry }
  .row
    .column
      %p
        %strong Location:
        { org.location }

  .row
    .column
      %p.gray
        %strong Extra:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis. In ultricies ipsum in sapien rutrum, eu ultricies mauris interdum.

  %publicKeyOrg{ store: "{store}" }

  :coffeescript
    entry_id = BR.getEntryId()
    BR.loadFromCollection "org", entry_id, this, presentOrg


%publicKeyOrg
  .row
    .column.right
      %p
        organization type
        %br
        { org.orgType }
      %p
        - hint = { class: "hint--bottom-left hint--rounded", :"data-hint" => "{ org.publicKey }" }
        .icon-mini{ hint } 🔑
        %br
        %span{ hint } publicKey
        %br
        %span{ hint } { org.publicKeyShort }

  :coffee
    entry_id = BR.getEntryId()
    BR.loadFromCollection "org", entry_id, this, presentOrg
