%org-edit
  %h4 Edit organization:
  %h2 { org.name }
  %form{ onsubmit: "{ update }" }
    %h4
      TODO

  %style{scoped: true}
    :plain
      :scope *[contentEditable]  {
        display: block;
        margin-bottom: 12px;
      }
      :scope label {
        margin-top: 10px;
      }
      :scope input[type=file] {
        display: none;
      }


  :coffeescript
    @prod_host = s(location.hostname).strLeft(".").value()
    entry_id = Number(@prod_host[2])

    BR.loadFromCollection "org", entry_id, this

    BR.bindUpdateEntityForm "org", entry_id, this
