%org-edit
  %h4 Edit organization:
  %h2 { org.name }
  %form{ onsubmit: "{ update }" }
    %h4
      TODO

  %style{scoped: true}
    :plain
      :scope *[contentEditable]  {
        display: block;
        margin-bottom: 12px;
      }
      :scope label {
        margin-top: 10px;
      }
      :scope input[type=file] {
        display: none;
      }


  :coffeescript
    @prod_host = s(location.hostname).strLeft(".").value()
    entry_id = Number(@prod_host[2])

    BR.loadFromCollection "org", entry_id, "orgs", this


    @message = ""

    @.on 'mount', (data) =>
      spinner = $ ".spinner"

      $("input[type=submit]").on "click", (evt) =>
        spinner.css
          visibility: "visible"

        values = $("profile form").serializeArray()
        newValues = {}
        _(values).each (entry) ->
          newValues[entry.name] = entry.value

        _(newValues).each (value, key) =>
          @user[key] = value if @user.hasAttribute key

        # TODO: fix this - avatar and avatarLg must be stored in the blockchain
        userValues = {}
        _(@user).each (value, key) =>
          userValues[key] = value if @user.hasAttribute key

        c.log "Updating user:", @user
        User.update(userValues)
          .then (resp) =>
            c.log "User updated:", resp
            spinner.css
              visibility: "hidden"
            $(".message").html "saved!"
          .catch (error) ->
            c.log "Error updating current User:", error
