%table-users
  %p Search
  %input{name: "query", onkeyup: "{ filterUsers }", placeholder: "enter a skill or a location", type: "text"}
    %table
      %thead
        %tr
          %th
          %th Name
          %th Job title
      %tr{ each: "{users}" }
        %td
          %a{href: "#/users/{ id }"}
            %img.avatar{src: "{ avatar }"}/
        %td
          %a{href: "#/users/{ id }"}
            { name }
        %td { jobTitle() }

  :coffee
    matchString = (user) ->
      s(user.name + '|' + user.jobTitle()).toLowerCase()

    @filterUsers = ->
      _this = this
      @users = _(StoreData.users).select((user) ->
        matchString(user).include _this.query.value.toLowerCase()
      )
      return

    BR.prepare opts, undefined, ->
      undefined.users = StoreData.users
      return
