%table-orgs
  %p Search
  %input{:name => "query", :onkeyup => "{ filterOrgs }", :placeholder => "enter a company name, an industry or a location", :type => "text"}
    %table
      %thead
        %tr
          %th
          %th Name
          %th Industry
          %th Location
          %th Employees
      %tr{ each: "{orgs}" }
        %td
          %a{:href => "#/orgs/{ id }"}
            %img.avatar{:src => "{ avatar }"}/
        %td
          %a{:href => "#/orgs/{ id }"}
            { name }
        %td { industry }
        %td { location }
        %td { employees }

  :javascript
    var matchString = (org) => {
      return s(`${org.name}|${org.industry}|${org.location}`).toLowerCase()
    }
    filterOrgs() {
      this.orgs = present(_(StoreData.orgs).select((org) => {
        return matchString(org).include(this.query.value.toLowerCase())
      }))
    }

    var present = (orgs) => {
      return _(orgs).map((org) => {
        org.employees = org.employees || Math.round(Math.random()*20+1)
        return org
      })
    }

    BR.prepare( opts, this, () => {
      this.orgs = present(StoreData.orgs)
    })
