%table-users
  %p Search
  %input{name: "query", onkeyup: "{ filterUsers }", placeholder: "enter a skill or a location", type: "text"}
    %table
      %thead
        %tr
          %th
          %th Name
          %th Job title
      %tr{ each: "{users}" }
        %td
          %a{href: "#/users/{ id }"}
            %img.avatar{src: "{ avatar }"}/
        %td
          %a{href: "#/users/{ id }"}
            { name }
        %td { jobTitle() }

  :coffee
    matchString = (user) ->
      s("\#{user.name}|\#{user.jobTitle()}").toLowerCase()

    @filterUsers = =>
      @users = _(StoreData.users).select (user) =>
        matchString(user).include @query.value.toLowerCase()

    BR.prepare opts, @, =>
      @users = StoreData.users
