%table-orgs
  .box
    %p Search
    %input{:name => "query", :onkeyup => "{ filterOrgs }", :placeholder => "enter a company name, an industry or a location", :type => "text"}
    .s10
  .s30
  
  .box
    %table
      %thead
        %tr
          %th
          %th Name
          %th Industry
          %th Location
          %th Employees
      %tr{ each: "{orgs}" }
        %td
          %a{:href => "#/orgs/{ id }"}
            %img.avatar{:src => "{ avatar }"}/
        %td
          %a{:href => "#/orgs/{ id }"}
            { name }
        %td { industry }
        %td { location }
        %td { employees }

  :coffee
    present = (orgs) ->
      _(orgs).map (org) ->
        org.employees = org.employees || Math.round(Math.random() * 20 + 1)
        org

    matchString = (org) ->
      s("\#{org.name}|\#{org.industry}|\#{org.location}").toLowerCase()

    @filterOrgs = =>
      @orgs = _(StoreData.orgs).select (org) =>
        matchString(org).include @query.value.toLowerCase()

    BR.prepare opts, @, =>
      @orgs = present StoreData.orgs
