-# type = "random"
-# type = "random&key={entry_id}"
- type = "image={Number(entry_id) || user.id}"
- height = 430
%unsplash-cover
  %img.unsplash{ src: "https://unsplash.it/1200/#{height}/?#{type}" }
  .unsplash-spacer

  :coffee
    entry_id = BR.getEntryId()
    @entry_id = entry_id
    BR.loadFromCollection "user", entry_id, this, presentUser

  :sass
    .unsplash
      width: 100%
      left: 0
      top: 50px
      position: absolute
      z-index: 0
      border-bottom: 3px solid #DDD

    .unsplash-spacer
      height: #{height}px
