%user
  %h2 { user.name }
  %h4 { user.jobTitle }
  .row
    .column
      %img.avatar{ src: "{ user.avatarLg }" }
    .column.column-80
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis. In ultricies ipsum in sapien rutrum, eu ultricies mauris interdum.
        { user.bio }
      %p
        %strong Location:
        { user.location }
      %p
        %strong Nationality:
        { user.nationality }

  .s20


  %h3 Skills
  .row
    .column
      PHP ★★★★★
    .column
      CSS ★★★★
    .column
      HTML5 ★★★★
    .column
      MYSQL ★★★
    .column
      Linux ★★
  .row
    .column
      Apache ★★★
    .column
      Nginx ★
    .column
      Photoshop ★★★★
    .column
      Illustrator ★★★
    .column
  .clear

  .s30
  %h3 Positions
  %h5 PHP Developer
  %h5 ACME
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis.


  .s30
  %h3 Education
  %h5 Degree in Astrophysics
  %h5 UCL
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis.

  :coffeescript
    entry_id = BR.getEntryId()
    BR.loadFromCollection "user", entry_id, "users", this
    
