%user
  .row
    .column
      %unsplash-cover{ store: "{store}" }
  .over-user
    .box.box-main
      .row
        .column
          %img.avatar.left{ src: "{ user.avatarLg }" }
          .user-main-details.left
            %h2 { user.name }
            %h4 { user.jobTitle() }
            %p { user.location }

            %button Send a message
          .clear
      .row
        .column
          .profile-link
            http://appii.io/profile.link
    .s20
    .box
      %h3 Background
      .h3-space
      .row
        .column
          %p.gray
            { user.bio || lipsum }
          %p
            %strong Nationality:
            { user.nationality }

    .s20
    .box
      %h3 Skills
      .h3-space
      .row.skills
        .column{ each: "{ skill, level in skills }" }
          { s.capitalize(skill) } { _(Number(level)).times(stars).join("") }
        .column
          { noSkillsMessage() }
      .clear

    .s50
    .box
      %h3 Experience
      .h3-space
      -#  @userId, @orgId, @role, @dateStart, @dateEnd, @reportsTo, @budget, @desc }) ->

      %section.positions
        %div{ each: "{ empl in empls }" }
          %h4
            { empl.role != "-" ? empl.role : "Employee" }
            %span{ class: "empl-status { empl.approved ? 'approved' : 'pending' } hint--bottom hint--rounded", :"data-hint" => "{ empl.approvedAtString() }" }
              { empl.approved ? '✓ approved' : '·	·	· &nbsp; pending approval' }
          %h5
            %a{ href: "/#/orgs/{ empl.org.id }" } { empl.org.name }
          %p { empl.dateRange() }
          %p
            { empl.desc != "-" ? empl.desc : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies." }
      .row
        .column
          { noPosMessage() }

    .s30
    .box
      .gray
        %h3 Education
        .h3-space
        %h5 Degree in Astrophysics
        %h5 UCL
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis.

    .s30
    %publicKeyUser{ store: "{store}" }

  :coffee
    @lipsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin, dui sit amet fermentum dapibus, dolor nulla sagittis tellus, vitae eleifend justo nisl imperdiet quam. Aenean et ornare velit. In est eros, sollicitudin id porta at, consequat quis quam. Accusamus rerum autem quas et asperiores cupiditate quasi libero. Qui et voluptatem rem omnis. Error et deleniti impedit culpa. Atque sunt consequatur dolore quisquam dolorem sequi. Voluptatem ea consequatur reiciendis corrupti eligendi."

    entry_id = BR.getEntryId()
    BR.loadFromCollection "user", entry_id, this

    @stars = (i) -> "★"

    BR.prepare opts, @, =>
      @empls =  _(StoreData.empls).select (empl) -> empl.userId == entry_id
      _(@empls).each (empl) ->
        empl.org = _(StoreData.orgs).find (org) ->
          empl.orgId == org.id

      if @user
        try
          @skills = JSON.parse @user.skills
        catch error
          c.error "Skills JSON is invalid: \#{error}"

    @noSkillsMessage = ->
      if !@skills || _(@skills).keys().length == 0
        "No skills present for this user."

    @noPosMessage = ->
      if !@empls || @empls.length == 0
        "This user has no positions listed in his profile."



-# ----------------------------------------------------------
-# PUBLIC _ KEY TODO: move

%publicKeyUser
  .row
    .column.right
      %p
        - hint = { class: "hint--bottom-left hint--rounded", :"data-hint" => "{ user.publicKey }" }
        .icon-mini{ hint } 🔑
        %br
        %span{ hint } publicKey
        %br
        %span{ hint } { user.publicKeyShort }

  :coffee
    entry_id = BR.getEntryId()
    BR.loadFromCollection "user", entry_id, this, presentUser
