%user
  .row
    .column
      %unsplash-cover{ store: "{store}" }
  .row
    .column.centered.avatar-box
      %img.avatar{ src: "{ user.avatarLg }" }
      %h2 { user.name }
      %h4 { user.jobTitle }
    .avatar-spacer
  .row
    .column
      %p.gray
        { user.bio }
      %p
        %strong Location:
        { user.location }
      %p
        %strong Nationality:
        { user.nationality }

  .s20

  .gray
    %h3 Skills
    .row
      .column{ each: "{ skills }" }
      / skills = { php: 5, css: 4, }
      /
        .column
          PHP ★★★★★
        .column
          CSS ★★★★
    .row
      .column
        Apache ★★★
      .column
        Nginx ★
      .column
        Photoshop ★★★★
      .column
        Illustrator ★★★
      .column
    .clear

    .s30
    %h3 Positions
    %h5 PHP Developer
    %h5 ACME
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis.


    .s30
    %h3 Education
    %h5 Degree in Astrophysics
    %h5 UCL
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat mauris et ante pretium ultricies. Curabitur eget ante eu enim efficitur congue. Praesent non condimentum turpis.

  %publicKeyUser{ store: "{store}" }

  :coffee
    entry_id = BR.getEntryId()
    BR.loadFromCollection "user", entry_id, this

  :sass
    .avatar-box
      position: absolute
      top: 180px
      left: 0
    .avatar-box img
      border: 15px solid #FFF
      box-shadow: 0 0 22px 0 #777

    .avatar-spacer
      height: 180px


%publicKeyUser
  .row
    .column.right
      %p
        - hint = { class: "hint--bottom-left hint--rounded", :"data-hint" => "{ user.publicKey }" }
        .icon-mini{ hint } 🔑
        %br
        %span{ hint } publicKey
        %br
        %span{ hint } { user.publicKeyShort }

  :coffee
    entry_id = BR.getEntryId()
    BR.loadFromCollection "user", entry_id, this, presentUser
